<% include partials/header %>
<div class= "container">
    <header class="jumbotron">
        <div class="container">
                <h1>List of Movies</h1>
                <p>
                <a class="btn btn-primary btn-large" href="/">Search again</a>
                </p>
        </div>
    </header>
    <p>Movie Not Found!!! </p>
    <p>Please enter a valid movie name</p>
</div>